# AliExpress API Configuration
APP_KEY=517616
APP_SECRET=your_app_secret_here
REDIRECT_URI=https://service-api-aliexpress.mercadodasophia.com.br/api/aliexpress/oauth-callback

# Store Address Configuration
STORE_NAME=francisco adonay ferreira do nascimento
STORE_CPF=07248629359
STORE_PHONE=85997640050
STORE_ADDRESS=Rua Teste, 123 - Bloco 03, Apto 202
STORE_CITY=Fortaleza
STORE_STATE=CE
STORE_ZIP=61771-880
STORE_COUNTRY=BR

# Shipping Configuration
INBOUND_LEAD_TIME_DAYS=12
STORE_HANDLING_DAYS=2
STORE_ORIGIN_CEP=61771-880

# API Base URL
API_BASE_URL=https://service-api-aliexpress.mercadodasophia.com.br

# Mercado Pago Configuration
# Modo: 'sandbox' para testes, 'production' para produção
MP_MODE=sandbox

# Credenciais de SANDBOX/TESTE
MP_ACCESS_TOKEN_SANDBOX=TEST-6048716701718688-080816-b095cf4abaa34073116ac070ff38e8f4-1514652489
MP_PUBLIC_KEY_SANDBOX=TEST-ce63c4af-fb50-4bef-b3dd-f0003f16cea3

# Credenciais de PRODUÇÃO
MP_ACCESS_TOKEN_PRODUCTION=APP_USR-6048716701718688-080816-ccba418de4c43b693e377903478dcd79-1514652489
MP_PUBLIC_KEY_PRODUCTION=APP_USR-145ec693-11d0-464b-8a18-b06b0e66006c
MP_CLIENT_ID=6048716701718688
MP_CLIENT_SECRET=YUC3Q0GxRueSrVQTHidGk7bMt9MJq7Sg

# Configurações automáticas (não alterar)
MP_ACCESS_TOKEN=${MP_ACCESS_TOKEN_SANDBOX}
MP_PUBLIC_KEY=${MP_PUBLIC_KEY_SANDBOX}
MP_SANDBOX=true

