APP_KEY=517616
APP_SECRET=skAvaPWbGLkkx5TlKf8kvLmILQtTV2sq
REDIRECT_URI=https://mercadodasophia-api.onrender.com/api/aliexpress/oauth-callback
PORT=10000

# Loja (endereço de recebimento do pedido do AliExpress)
STORE_CONSIGNEE_NAME=
STORE_PHONE=
STORE_ORIGIN_CEP=
STORE_ADDRESS_LINE1=
STORE_ADDRESS_LINE2=
STORE_CITY=
STORE_STATE=
STORE_COUNTRY=BR

# Lead time e manuseio
INBOUND_LEAD_TIME_DAYS=12
STORE_HANDLING_DAYS=2